# nest_core
nest_core/Dockerfile
nest_core/.dockerignore
nest_core/node_modules
nest_core/dist
nest_core/*.log
nest_core/*.md

# nest_mailer
nest_mailer/Dockerfile
nest_mailer/.dockerignore
nest_mailer/node_modules
nest_mailer/dist
nest_mailer/*.log
nest_mailer/*.md

# next
next/Dockerfile
next/node_modules
next/.next

# nuxt
nuxt/Dockerfile
nuxt/node_modules
nuxt/.nuxt
nuxt/.output