# general
apps/**/Dockerfile
apps/**/node_modules

# backend
apps/backend/**/dist
apps/backend/**/*.log
apps/backend/**/*.md

# panel-react
apps/frontend/panel-react/.next

# panel-vue
apps/frontend/panel-vue/.nuxt
apps/frontend/panel-vue/.output